/*!

***************************************** ISSI CUSTOMIZATIONS *****************************************

IBM FONTS */

@font-face {
    font-family: HelvLightIBM;
    font-style: normal;
    src: url(fonts/hni-v2-light.eot?#iefix) format("embedded-opentype"), url(fonts/hni-v2-light.woff) format("woff"), url(fonts/hni-v2-light.ttf) format("truetype"), url(fonts/hni-v2-light.svg#HelvLightIBM) format("svg")
}

@font-face {
    font-family: HelvRegularIBM;
    font-style: normal;
    font-weight: 400;
    src: url(fonts/hni-v2-roman.eot?#iefix) format("embedded-opentype"), url(fonts/hni-v2-roman.woff) format("woff"), url(fonts/hni-v2-roman.ttf) format("truetype"), url(fonts/hni-v2-roman.svg#HelvRegularIBM) format("svg")
}

@font-face {
    font-family: HelvBoldIBM;
    font-style: normal;
    font-weight: 700;
    src: url(fonts/hni-v2-bold.eot?#iefix) format("embedded-opentype"), url(fonts/hni-v2-bold.woff) format("woff"), url(fonts/hni-v2-bold.ttf) format("truetype"), url(fonts/hni-v2-bold.svg#HelvBoldIBM) format("svg")
}

body {
    font-family: "Segoe UI", HelvRegularIBM!important;
    overflow-x: hidden;
}

.wrapper {
    min-height: calc(100vh - 144px);
    position: relative
}

:focus {
    box-shadow: 0 0 5px #0061FF
}

.twisty-triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px 0 7px 7px;
    border-color: transparent transparent transparent #0466D7;
    display: inline-block;
    position: relative;
    top: 1px;
    margin-right: 5px
}

.text-align-center {
    text-align: center
}

.text-align-right {
    text-align: right
}

.modal-dialog .modal-content {
    box-shadow: none;
    border-radius: 0;
    margin-left: auto;
    margin-right: auto
}

.modal-dialog .modal-content .close {
    background: url(images/icon-close.svg);
    width: 40px;
    height: 40px;
    opacity: 1;
    margin: 0 0 0 5px
}

.modal-dialog .modal-header {
    border-bottom: none;
    padding: 7px 12px 0 0!important
}

.modal-dialog .modal-header .modal-title {
    text-align: center;
    font-size: 36px;
    font-weight: 200;
    margin-top: 5px
}

.modal-dialog .btn-primary {
    margin-top: 100px;
    margin-bottom: 100px
}

.modal-body {
    margin: 36px 31px 21px;
    padding: 0;
    font-size: 18px;
    font-weight: 100;
    min-height: 374px
}

.modal-footer {
    border-top: none;
    padding: 0
}

.modal-footer .btn-primary {
    font-weight: 200;
    margin-top: 10px;
    margin-bottom: 6px
}

.btn-secondary {
    margin-top: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    border: none;
    font-size: 20px;
    width: 200px;
    height: 50px;
    outline: 0;
    background-color: #fff;
    color: #0078d7;
}

#issi-ip-additional-langs-collapse,
#issi-ip-additional-packages-collapse,
#issi-ip-description-collapse,
#issi-ip-prompts-collapse,
#issi-qi-additional-packages-collapse {
    font-size: 18px;
    width: 100%
}

#issi-ip-additional-langs-collapse #issi-prompts,
#issi-ip-additional-packages-collapse #issi-prompts,
#issi-ip-description-collapse #issi-prompts,
#issi-ip-prompts-collapse #issi-prompts,
#issi-qi-additional-packages-collapse #issi-prompts {
    margin-left: 15px
}

#issi-ip-additional-langs-collapse .twisty-triangle,
#issi-ip-additional-packages-collapse .twisty-triangle,
#issi-ip-description-collapse .twisty-triangle,
#issi-ip-prompts-collapse .twisty-triangle,
#issi-qi-additional-packages-collapse .twisty-triangle {
    transition: all .15s linear;
    transform: rotate(90deg)
}

#issi-ip-additional-langs-collapse>a,
#issi-ip-additional-packages-collapse>a,
#issi-ip-description-collapse>a,
#issi-ip-prompts-collapse>a,
#issi-qi-additional-packages-collapse>a {
    text-decoration: none;
    font-weight: 100
}

#issi-ip-additional-langs-collapse a.collapsed .twisty-triangle,
#issi-ip-additional-packages-collapse a.collapsed .twisty-triangle,
#issi-ip-description-collapse a.collapsed .twisty-triangle,
#issi-ip-prompts-collapse a.collapsed .twisty-triangle,
#issi-qi-additional-packages-collapse a.collapsed .twisty-triangle {
    transform: rotate(0)
}

#issi-ip-additional-langs-collapse .collapse-menu,
#issi-ip-additional-packages-collapse .collapse-menu,
#issi-ip-description-collapse .collapse-menu,
#issi-ip-prompts-collapse .collapse-menu,
#issi-qi-additional-packages-collapse .collapse-menu {
    font-size: 16px;
    background-color: #f4f4f4;
    margin-top: 5px;
    margin-bottom: 20px
}

#issi-ip-additional-langs-collapse .collapse-menu ul,
#issi-ip-additional-packages-collapse .collapse-menu ul,
#issi-ip-description-collapse .collapse-menu ul,
#issi-ip-prompts-collapse .collapse-menu ul,
#issi-qi-additional-packages-collapse .collapse-menu ul {
    overflow: auto;
    list-style: none;
    max-height: 134px;
    margin-bottom: 0;
    background-color: #F4F4F4;
    color: #5A6464;
    border: none;
    padding: 0
}

#issi-ip-additional-langs-collapse .collapse-menu ul li a,
#issi-ip-additional-packages-collapse .collapse-menu ul li a,
#issi-ip-description-collapse .collapse-menu ul li a,
#issi-ip-prompts-collapse .collapse-menu ul li a,
#issi-qi-additional-packages-collapse .collapse-menu ul li a {
    color: #5a6464;
    line-height: 1.75;
    font-weight: 200;
    padding: 5px 0 5px 15px;
    width: 100%;
    display: block
}

#issi-ip-additional-langs-collapse .collapse-menu ul li a:focus,
#issi-ip-additional-langs-collapse .collapse-menu ul li a:hover,
#issi-ip-additional-packages-collapse .collapse-menu ul li a:focus,
#issi-ip-additional-packages-collapse .collapse-menu ul li a:hover,
#issi-ip-description-collapse .collapse-menu ul li a:focus,
#issi-ip-description-collapse .collapse-menu ul li a:hover,
#issi-ip-prompts-collapse .collapse-menu ul li a:focus,
#issi-ip-prompts-collapse .collapse-menu ul li a:hover,
#issi-qi-additional-packages-collapse .collapse-menu ul li a:focus,
#issi-qi-additional-packages-collapse .collapse-menu ul li a:hover {
    background-color: #d8d8d8;
    color: #000;
    font-weight: 300;
    text-decoration: none
}

#issi-qi-header {
    padding: 10px;
    min-height: 120px;
    color: #fff
}

#issi-qi-header #issi-ip-icon,
#issi-qi-header #issi-qi-icon {
    margin-left: 17px;
    margin-right: 27px;
    float: left
}

#issi-qi-header .modal-title {
    font-size: 24px;
    margin-bottom: 20px
}

#issi-qi-header .size,
#issi-qi-header .version {
    font-size: 18px;
    display: block;
    font-weight: 300
}

#issi-ip-header,
#issi-mvs-header,
#issi-qi-header {
    color: #fff
}

#issi-ip-header #issi-ip-icon,
#issi-ip-header #issi-mvs-icon,
#issi-ip-header #issi-qi-icon,
#issi-mvs-header #issi-ip-icon,
#issi-mvs-header #issi-mvs-icon,
#issi-mvs-header #issi-qi-icon,
#issi-qi-header #issi-ip-icon,
#issi-qi-header #issi-mvs-icon,
#issi-qi-header #issi-qi-icon {
    position: absolute;
    height: 55px;
    width: 56px;
    margin: 27px 37px 20px
}

#issi-ip-header #issi-ip-icon img,
#issi-ip-header #issi-mvs-icon img,
#issi-ip-header #issi-qi-icon img,
#issi-mvs-header #issi-ip-icon img,
#issi-mvs-header #issi-mvs-icon img,
#issi-mvs-header #issi-qi-icon img,
#issi-qi-header #issi-ip-icon img,
#issi-qi-header #issi-mvs-icon img,
#issi-qi-header #issi-qi-icon img {
    height: 55px;
    width: 56px
}

#issi-ip-header #issi-ip-header-text,
#issi-ip-header #issi-mvs-header-text,
#issi-ip-header #issi-qi-header-text,
#issi-mvs-header #issi-ip-header-text,
#issi-mvs-header #issi-mvs-header-text,
#issi-mvs-header #issi-qi-header-text,
#issi-qi-header #issi-ip-header-text,
#issi-qi-header #issi-mvs-header-text,
#issi-qi-header #issi-qi-header-text {
    margin-left: 130px;
    color: #fff;
    font-weight: 200;
    margin-bottom: 16px
}

#issi-ip-header #issi-ip-header-text #issi-ip-title,
#issi-ip-header #issi-ip-header-text #issi-mvs-title,
#issi-ip-header #issi-ip-header-text #issi-qi-title,
#issi-ip-header #issi-mvs-header-text #issi-ip-title,
#issi-ip-header #issi-mvs-header-text #issi-mvs-title,
#issi-ip-header #issi-mvs-header-text #issi-qi-title,
#issi-ip-header #issi-qi-header-text #issi-ip-title,
#issi-ip-header #issi-qi-header-text #issi-mvs-title,
#issi-ip-header #issi-qi-header-text #issi-qi-title,
#issi-mvs-header #issi-ip-header-text #issi-ip-title,
#issi-mvs-header #issi-ip-header-text #issi-mvs-title,
#issi-mvs-header #issi-ip-header-text #issi-qi-title,
#issi-mvs-header #issi-mvs-header-text #issi-ip-title,
#issi-mvs-header #issi-mvs-header-text #issi-mvs-title,
#issi-mvs-header #issi-mvs-header-text #issi-qi-title,
#issi-mvs-header #issi-qi-header-text #issi-ip-title,
#issi-mvs-header #issi-qi-header-text #issi-mvs-title,
#issi-mvs-header #issi-qi-header-text #issi-qi-title,
#issi-qi-header #issi-ip-header-text #issi-ip-title,
#issi-qi-header #issi-ip-header-text #issi-mvs-title,
#issi-qi-header #issi-ip-header-text #issi-qi-title,
#issi-qi-header #issi-mvs-header-text #issi-ip-title,
#issi-qi-header #issi-mvs-header-text #issi-mvs-title,
#issi-qi-header #issi-mvs-header-text #issi-qi-title,
#issi-qi-header #issi-qi-header-text #issi-ip-title,
#issi-qi-header #issi-qi-header-text #issi-mvs-title,
#issi-qi-header #issi-qi-header-text #issi-qi-title {
    font-size: 24px
}

#issi-ip-header #issi-ip-header-text p,
#issi-ip-header #issi-mvs-header-text p,
#issi-ip-header #issi-qi-header-text p,
#issi-mvs-header #issi-ip-header-text p,
#issi-mvs-header #issi-mvs-header-text p,
#issi-mvs-header #issi-qi-header-text p,
#issi-qi-header #issi-ip-header-text p,
#issi-qi-header #issi-mvs-header-text p,
#issi-qi-header #issi-qi-header-text p {
    font-size: 19px
}

#issi-ip-header #issi-ip-header-text .version,
#issi-ip-header #issi-mvs-header-text .version,
#issi-ip-header #issi-qi-header-text .version,
#issi-mvs-header #issi-ip-header-text .version,
#issi-mvs-header #issi-mvs-header-text .version,
#issi-mvs-header #issi-qi-header-text .version,
#issi-qi-header #issi-ip-header-text .version,
#issi-qi-header #issi-mvs-header-text .version,
#issi-qi-header #issi-qi-header-text .version {
    margin-bottom: 4px;
    margin-top: 5px
}

#issi-ip-header #issi-ip-header-text .size,
#issi-ip-header #issi-mvs-header-text .size,
#issi-ip-header #issi-qi-header-text .size,
#issi-mvs-header #issi-ip-header-text .size,
#issi-mvs-header #issi-mvs-header-text .size,
#issi-mvs-header #issi-qi-header-text .size,
#issi-qi-header #issi-ip-header-text .size,
#issi-qi-header #issi-mvs-header-text .size,
#issi-qi-header #issi-qi-header-text .size {
    margin-bottom: 0
}

#issi-prompts-wrapper .indent {
    left: 19px
}

#issi-prompts-wrapper b,
#issi-prompts-wrapper i {
    font-weight: 400!important
}

#localstgpath {
    width: 29px;
    height: 40px
}

#issi-install-now-btn {
    margin-left: auto;
    margin-right: auto;
    float: none;
    padding: 25px 0 0;
    width: 270px
}

#issi-ip-noinstallbutton {
    margin: 0 0 50px;
    height: 50px;
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 11px;
    padding-bottom: 11px;
}

#issi-ip-button,
#issi-install-now-btn #issi-ip-inprogress {
    margin: 0 0 50px;
    height: 50px
}

#Overlay_License_buttons {
  text-align: center;
}

/*
#Overlay_License .modal-content {
    min-height: 555px
}

#Overlay_License .modal-content .modal-body {
    margin: 0 10px;
    padding: 0
}

#Overlay_License .modal-content .modal-body .license-content {
    overflow: scroll;
    height: 312px;
    padding: 0 55px
}
*/


#issi-mvs-modal .modal-body {
    font-weight: 400;
    min-height: 200px
}

header.masthead {
    min-height: 50px;
    margin-bottom: 10px;
    width: 100%;
    z-index: 999;
    position: fixed;
    top: 0
}

header.masthead>.container {
    margin-top: 10px
}

header.masthead .masthead-header {
    background-color: #EEF4F4;
    min-height: 70px;
    width: 100%;
    position: relative;
    box-shadow: 0 0 6px grey;
    transition: box-shadow .3s
}

.navbar-default.issi .navbar-nav>.open>a,
.navbar-default.issi .navbar-nav>.open>a:focus,
.navbar-default.issi .navbar-nav>.open>a:hover,
nav.navbar-default.issi {
    background-color: transparent
}

#actionBar,
#actionBarWrapper {
    min-height: 72px
}

header.masthead .masthead-header a.masthead-brand>img {
    position: relative;
    top: 5px;
    height: 30px
}

header.masthead .masthead-header img.masthead-avatar {
    position: absolute;
    right: 15px;
    top: 15px;
    height: 42px;
    width: 42px;
    border-radius: 50%;
    border: 1px solid #0061FF
}

nav.navbar-default.issi {
    border: none;
    margin-top: 80px
}

.navbar-default.issi .navbar-nav>li>a {
    color: #0466D7
}

.navbar-default.issi .navbar-nav>li>a:focus,
.navbar-default.issi .navbar-nav>li>a:hover {
    color: #333
}

.navbar-default.issi .navbar-nav>.active>a,
.navbar-default.issi .navbar-nav>.active>a:focus,
.navbar-default.issi .navbar-nav>.active>a:hover {
    color: #5A6464;
    background-color: transparent
}

.navbar-default .navbar-nav.navbar-right>li>a {
    font-weight: 700
}

.navbar-default .navbar-nav.primary-nav {
    margin-left: -20px
}

.navbar-nav>li>a.dropdown-toggle-location,
nav .navbar-nav>li>a.dropdown-toggle {
    color: #5A6464;
    padding-left: 20px;
    margin-left: 20px
}

.navbar-default .navbar-nav.primary-nav>li>a {
    font-size: 20px
}

.navbar-nav>li>a.dropdown-toggle-location {
    background: url(images/header-location-icon.png) 0 50% no-repeat
}

.navbar-header {
    font-size: 36px;
    margin-left: 30px;
    display: inline-block;
    color: #000
}

nav.navbar ul.nav.navbar-right {
    margin-right: 0
}

@media (max-width:768px) {
    .navbar-right {
        float: right!important
    }
}

body.sticky .masthead-header {
    box-shadow: none
}

body.sticky #actionBar {
    box-shadow: 0 0 13px 0 rgba(0, 0, 0, .5);
    top: 70px;
    border-bottom: 1px solid #979797;
    position: fixed;
    width: 100%;
    z-index: 998;
    transition: box-shadow .3s
}

#actionBar {
    padding-top: 15px;
    background-color: #FFF
}

.stylish-input-group .form-control {
    border: 2px solid #CCC;
    border-right: 0;
    box-shadow: 0 0 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    font-style: italic
}

.input-group-addon {
    border: 2px solid #CCC;
    border-radius: 3px;
    border-left: 0
}

.stylish-input-group button {
    border: 0;
    background: 0 0
}

.navbar-form.navbar-right .input-group-addon {
    background: #FFF;
    padding: 0;
    border: 2px solid #CCC;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-left: 0
}

.navbar-nav.navbar-app>li>a {
    color: #1570A6;
    font-size: 20px;
    font-weight: 600;
    padding: 0
}

main {
    background-color: #F4F4F4
}

footer {
    background: #F4F4F4;
    padding: 2px 0;
    margin-top: 20px
}

footer .nav.navbar-nav.template-footer-links a {
    color: #4A4A4A
}

@media (min-width:768px) {
    .navbar-form .input-group {
        width: 280px
    }
    footer .nav.navbar-nav.template-footer-links a {
        padding: 10px 25px
    }
}

@media (min-width:768px) and (max-width:1000px) {
    nav .container form.navbar-right {
        float: left!important;
        padding: 0;
        margin: 0;
        width: 100%
    }
    nav .navbar-form .input-group {
        width: 100%
    }
    nav .navbar-form .input-group .input-group-addon {
        width: 1%
    }
}

@media (max-width:768px) {
    .navbar-nav.navbar-app>li>a {
        padding-left: 20px
    }
}

.scrollable-menu {
    height: auto;
    max-height: 500px;
    overflow-x: hidden
}

.issi-dropdown-menu-wide {
    width: 400px
}

.issi-dropdown-menu-wide .dropdown-header {
    font-size: 20px;
    font-weight: 600
}

@media (min-width:768px) {
    .modal-xl {
        width: 90%;
        max-width: 1200px
    }
}

.btn-primary {
    background-color: #0466D7;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    border: none;
    font-size: 20px;
    width: 270px;
    height: 50px
}

.btn-primary:hover {
    outline: #0466D7 solid 2px;
    background-color: #FFF;
    color: #0466D7
}

.btn-primary:focus {
    background-color: #0466D7;
    color: #fff;
}

.btn-primary.disabled:hover,
.btn-primary[disabled]:hover {
    background-color: #0466D7;
    color: #fff;
    outline: 0px;
}



.btn-full-width {
    background-color: #FFF;
    padding-top: 25px;
    padding-bottom: 36px;
    text-align: center;
    font-weight: 700;
    border: none;
    font-size: 20px;
    color: #0466D7;
    width: 791px;
    height: 83px;
    outline: 0;
    cursor: pointer
}

.btn-full-width:focus,
.btn-full-width:hover {
    background-color: #0466D7;
    color: #FFF
}

.btn-full-width:hover {
    outline: #0466D7 solid 1px
}

.dropdown {
    float: left;
    margin: 8px 0 0;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    display: block
}

.dropdown a.dropdown-toggle,
.dropdown.open a.dropdown-toggle {
    display: inline;
    color: #1570A6;
    background-color: transparent;
    text-decoration: none
}

.dropdown:hover {
    text-decoration: none
}

.dropdown.small {
    font-size: 14px;
    margin: 0
}

.dropdown hr {
    border-top: 1px solid #979797;
    margin: 10px 15px
}

.dropdown-toggle:focus {
    outline: -webkit-focus-ring-color auto 5px;
    outline: -moz-focus-ring-color auto 5px;
    outline: -ms-focus-ring-color auto 5px
}

.dropdown a.dropdown-toggle:hover {
    color: #1570A6;
    text-decoration: none;
    background-color: transparent
}

.dropdown a.dropdown-toggle:focus {
    background-color: transparent
}

#issi-geo-select-selected {
    color: #000
}

#dropdown-propagation {
    width: 100%
}

#dropdown-propagation a.dropdown-toggle {
    display: block;
    text-align: right
}

#dropdown-propagation .dropdown-menu {
    text-align: right
}

.dropdown-menu {
    background-color: #F4F4F4;
    font-size: 20px;
    color: #5A6464;
    border: none;
    border-radius: 0;
    box-shadow: none;
    text-align: left;
    position: absolute;
    right: 0;
    left: auto;
    min-width: 156px;
    margin: 0
}

.dropdown-menu.small {
    font-size: 14px;
    min-width: 147px;
    text-align: right;
    margin-right: 30px
}

.dropdown-menu li a {
    color: #5A6464;
    padding-left: 13px;
    padding-right: 18px;
    font-weight: 200
}

.glyphicon,
.icon-chevron-down {
    top: 2px;
    padding-left: 3px;
    padding-right: 3px
}

.dropdown-menu li a:hover {
    color: #000;
    background-color: #D8D8D8
}

.dropdown-menu li a:focus {
    color: #000;
    background-color: #F4F4F4
}

.dropdown.open span.glyphicon {
    color: #5A6464;
    background-color: #F4F4F4
}

.dropdown-container {
    margin-right: auto;
    margin-left: auto
}

@media (max-width:640px) {
    .dropdown-container {
        max-width: 640px
    }
}

@media (min-width:640px) {
    .dropdown-container {
        max-width: 640px
    }
}

@media (min-width:768px) {
    .dropdown-container {
        max-width: 680px
    }
    .welcome-modal-dialog {
        width: 793px
    }
}

@media (min-width:800px) {
    .dropdown-container {
        max-width: 830px
    }
}

@media (min-width:992px) {
    .dropdown-container {
        max-width: 980px
    }
}

@media (min-width:1200px) {
    .dropdown-container {
        max-width: 1130px
    }
}

.glyphicon {
    padding-bottom: 5px
}

.glyphicon-search {
    color: #CCC
}

.icon-chevron-down {
    padding-bottom: 10px;
    background: url(/images/icon-down-caret.svg) 0 100% no-repeat
}

.dropdown.open span.icon-chevron-down {
    color: #5A6464;
    background-color: #F4F4F4
}

.geodrop-toggle {
    /* background: url(images/header-location-icon.png) 0 50% no-repeat; */
    color: #5A6464;
    padding-left: 27px;
    padding-top: 5px;
    margin-top: 20px;
    margin-right: 30px;
    line-height: 20px;
    position: relative;
    display: inline-block;
    font-weight: 400;
    font-size: 16px
}

.dropdown a.geodrop-toggle,
.dropdown a.geodrop-toggle:hover {
    color: #000;
    text-decoration: none
}

.card p:hover,
.card-content:hover~p {
    text-decoration: underline
}

.welcome-modal-dialog {
    font-weight: 100;
    margin: 90px auto
}

.welcome-modal-dialog .welcome-modal-content {
    background: #FFF;
    box-shadow: none;
    border: 1px solid #DBD8D8;
    border-radius: 0;
    width: 793px;
    max-width: 100%;
    max-height: 100%
}

.welcome-modal-dialog .welcome-modal-header {
    margin-top: 20px
}

.welcome-modal-dialog .welcome-modal-header-text {
    font-size: 36px;
    color: #5A6464;
    text-align: center
}

.welcome-modal-dialog .welcome-modal-body {
    padding-left: 40px;
    padding-right: 40px
}

.welcome-modal-dialog .welcome-modal-body-text {
    margin-top: 21px;
    font-size: 20px;
    color: #5A6464;
    line-height: 30px
}

.welcome-modal-dialog .welcome-modal-map {
    margin-left: 35px;
    margin-top: 35px;
    font-size: 20px;
    color: #5A6464
}

.welcome-modal-dialog .welcome-modal-map .current-location-span {
    text-align: center
}

.welcome-modal-dialog .welcome-modal-map .map-image {
    margin-bottom: 25px;
    margin-top: 10px;
    max-height: 100%;
    max-width: 100%
}

.welcome-modal-dialog .welcome-modal-footer .btn-primary {
    display: block;
    text-align: center;
    margin-bottom: 30px
}

.map-selector {
    color: #5A6464;
    font-size: 20px;
    padding-top: 23px
}

.map-selector ul {
    margin: 0;
    padding: 0 0 25px
}

.map-selector li {
    list-style: none;
    position: relative
}

.map-selector .map-radio {
    opacity: .01;
    margin-left: 35px
}

.card p:hover~.card-content,
.card-content:hover {
    opacity: .6
}

.map-selector .map-radio+label {
    font-size: 20px;
    padding-left: 14px;
    margin: 0;
    font-weight: 100
}

.map-selector input,
.map-selector label {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

input[type=radio]:checked~.radio-selector {
    color: #1374CB;
    border-color: #1374CB;
    background: #1374CB;
    width: 9px;
    height: 9px
}

input[type=radio]:checked~label {
    color: #1374CB
}

.radio-selector {
    position: absolute;
    border: 1px solid #5A6464;
    width: 9px;
    height: 9px;
    border-radius: 100%;
    right: auto;
    left: 0;
    margin-left: 35px;
    margin-top: 12px;
    pointer-events: none
}

.card-container {
    margin-right: auto;
    margin-left: auto
}

@media (max-width:640px) {
    .card-container {
        max-width: 600px
    }
}

@media (min-width:640px) {
    .card-container {
        max-width: 600px
    }
}

@media (min-width:800px) {
    .card-container {
        max-width: 750px
    }
}

@media (min-width:992px) {
    .card-container {
        max-width: 900px
    }
}

@media (min-width:1200px) {
    .card-container {
        max-width: 1050px
    }
}

.card {
    display: inline-block;
    padding-bottom: 40px
}

.card img {
    width: 80px;
    height: 80px
}

.card p {
    margin-left: 11px;
    margin-right: 11px;
    max-width: 130px;
    font-size: 16px;
    color: #1570A6;
    cursor: pointer;
    position: absolute;
    max-height: 2.86em
}

.card-content {
    min-height: 130px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 130px;
    width: 130px;
    margin: 10px 10px 6px;
    cursor: pointer;
    position: relative;
    transition: opacity .3s
}

.card-content img {
    max-height: 100px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto
}

#issi-catalog-cards-hr {
  min-height: 2px;
  background-color: #1570A6;
  margin-top: 20px;
  margin-bottom: 20px;
}

#issi-catalog-cards-applications {
  font-size: 20px;
  font-weight: 600;
  color: #1570A6;
}


.carousel {
    background-color: #1374CB
}

.carousel-indicators {
    bottom: 0px;
    left: 44.1%;
    margin-left: inherit;
    text-align: inherit;
    list-style: none;
}

.carousel-indicators li {
    height: 8px;
    width: 8px;
    background-color: #1374CB;
}

.carousel-indicators li.active {
    height: 8px;
    width: 8px;
    background-color: #CACACA;
    margin: 1px
}


/*
.carousel-inner {
    height: 260px
}

@media (max-width:640px) {
    .carousel-inner {
        height: 130px;
    }
}

@media (min-width:640px) {
    .carousel-inner {
        height: 171px;
    }
}

@media (min-width:1008px) {
    .carousel-inner {
        height: 260px
    }
}
*/


.carousel-inner .item {
    height: 100%
}

.carousel-inner .item .carousel2-content {
    height: 100%;
    width: 80%;
    max-width: 1030px;
    margin-left: auto;
    margin-right: auto;
    position: relative
}

.carousel-inner .item .carousel2-content .carousel-image {
    float: right;
    width: 50%
}

@media (max-width:640px) {
    .carousel-inner {
        height: 130px;
    }
    .carousel-inner .item .carousel2-content .carousel-image img {
        width: 176px;
        height: 130px
    }
    .carousel-inner .item .carousel2-header .carousel2-header-text {
        font-size: 16px
    }
    .carousel-inner .item .carousel2-caption .carousel2-caption-text {
        font-size: 10px
    }
    .carousel-inner .item .carousel-footer .carousel-footer-button {
        font-size: 10px;
        padding: 1px 1px 1px;
    }
}

@media (min-width:640px) {
    .carousel-inner {
        height: 171px;
    }
    .carousel-inner .item .carousel2-content .carousel-image img {
        width: 233px;
        height: 171px
    }
    .carousel-inner .item .carousel2-header .carousel2-header-text {
        font-size: 20px
    }
    .carousel-inner .item .carousel2-caption .carousel2-caption-text {
        font-size: 12px
    }
    .carousel-inner .item .carousel-footer .carousel-footer-button {
        font-size: 12px;
        padding: 5px 5px 5px;
    }
}

@media (min-width:1008px) {
    .carousel-inner {
        height: 260px
    }
    .carousel-inner .item .carousel2-content .carousel-image img {
        width: 353px;
        height: 260px
    }
    .carousel-inner .item .carousel2-header .carousel2-header-text {
        font-size: 30px
    }
    .carousel-inner .item .carousel2-caption .carousel2-caption-text {
        font-size: 16px
    }
    
    .carousel-inner .item .carousel-footer .carousel-footer-button {
      font-size: 15px;
      padding: 10px 15px 7px;
    }
}

.carousel-inner .item .carousel2-content .carousel-text {
    height: 100%;
    width: 45%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center
}

.carousel-inner .item .carousel2-header {
    height: 33%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: end;
    justify-content: flex-end
}

.carousel-inner .item .carousel2-header .carousel2-header-text {
    color: #FFF
}



.carousel-inner .item .carousel2-caption {
    height: 33%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center
}

.carousel-inner .item .carousel2-caption .carousel2-caption-text {
    color: #FFF;
    text-align: left
}


.carousel-inner .item .carousel-footer {
    position: relative;
    top: 15px;
    padding-top: 10px;
    left: 0;
    height: 33%
}

.carousel-inner .item .carousel-footer .carousel-footer-button {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    border: 2px solid transparent;
    background: #fff;
    color: #337ab7;
    line-height: 1.3;
    text-decoration: none;
    text-align: center;
    letter-spacing: .075em;
    white-space: nowrap
}

.carousel-inner .item .carousel-footer .carousel-footer-button:focus,
.carousel-inner .item .carousel-footer .carousel-footer-button:hover {
    border: 2px solid #fff;
    background: rgba(255, 255, 255, .8)
}

.carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15%;
    font-size: 20px;
    color: #FFF;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    background-color: transparent;
    filter: alpha(opacity=50);
    opacity: 1
}

.package a,
.package-date,
.package-date a {
    color: #1570A6
}

/*
.carousel-control.left,
.carousel-control.right {
    background: rgba(255, 255, 255, .4);
    background-image: none;
    height: 80px;
    width: 33px;
    top: 35%
}
*/

.carousel-control.left {
    /* background: rgba(255, 255, 255, .4); */
    background-image: none;
    height: 80px;
    width: 33px;
    top: 35%;
    margin-left: 5%;
}

.carousel-control.right {
    /* background: rgba(255, 255, 255, .4); */
    background-image: none;
    height: 80px;
    width: 33px;
    top: 35%;
    margin-right: 12%
}



.carousel-chevron-left,
.carousel-chevron-right {
    background: url(images/carousel-chevron-right.svg) no-repeat;
    width: 10px;
    height: 20px;
    margin-top: 27px;
    padding: 0
}

.carousel-chevron-right {
    margin-left: 4px
}

.carousel-chevron-left {
    margin-right: 4px;
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg)
}

#issi-carousel-Xclose button {
  color:#FFF;
  z-index: 10;
  position: absolute;
  left: 97%;
  opacity: .8;
  padding-top: 5px;
  font-size: 24px;
}

#issi-carousel-close img {
  width: 20px;
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg)
}

#issi-carousel-open img {
  width: 20px;
  
}

#issi-carousel-closed {
  color: #fff;
  background-color: #1374CB; 
  width: 100%; 
  height: 20px;
}

#mismatchOSBanner,
#mismatchOSBannerMac,
#mismatchOSBannerLinux
{
    margin-top: 25px;
    margin-bottom: 20px;
    border: 2px solid #0466d7;
    font-size: 20px;
    padding-top: 13px;
    padding-bottom: 18px
}

#mismatchOSBanner .mismatch-os-text, 
#mismatchOSBannerMac .mismatch-os-text,
#mismatchOSBannerLinux .mismatch-os-text
{
    margin-left: 140px;
    font-weight: 100
}

#mismatchOSBanner img,
#mismatchOSBannerMac img,
#mismatchOSBannerLinux img
{
    margin-left: 35px;
    margin-right: 46px;
    max-height: 55px;
    position: absolute
}

.catalog-container-body {
    display: inline-block;
    text-align: left
}

.package,
.package-date {
    text-decoration: none;
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 2
}

.package a:hover,
.package-date a:hover {
    text-decoration: underline
}

.package-date {
    text-decoration: none;
    text-align: right
}

.error-container {
    width: 100%;
    text-align: center;
    margin-bottom: 50px
}

.error-container .error-general-icon {
    background: url(images/alert.svg) 0 100% no-repeat;
    height: 75px;
    width: 75px;
    margin-left: auto;
    margin-right: auto
}

.error-container .os-not-supported {
    margin-top: 20px
}

.error-container h2 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    font-size: 20px!important;
    font-weight: 200!important;
    text-align: center
}

.error-container .search-content {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    width: 380px;
    font-size: 20px;
    color: #000;
    text-align: left
}

.error-container .search-content .search-header {
    display: inline-block;
    text-align: left
}

.error-container .search-content .search-text {
    display: inline-block;
    text-align: left;
    margin-top: 25px
}

.error-container .search-content ul {
    margin-top: 10px;
    padding-left: 25px
}

.error-container .search-content li {
    margin-top: 5px
}

.error-container .search-content a {
    text-decoration: underline;
    color: #1570A6;
    cursor: pointer
}

.more {
    font-weight: 700
}
